@import url("https://fonts.googleapis.com/css2?family=Anton&family=Aoboshi+One&family=BBH+Sans+Bartle&family=Bebas+Neue&family=Bitcount+Grid+Double:slnt,wght,CRSV,ELXP@-8,300,1,58&family=DM+Serif+Display:ital@0;1&family=Heebo:wght@800&family=Pacifico&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+FR+Trad:wght@100..400&family=Special+Gothic+Expanded+One&family=Zen+Antique+Soft&display=swap");

.counter {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  height: 100px;
  display: flex;
  font-size: 100px;
  line-height: 150px;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 10;
}

.digit-1,
.digit-2,
.digit-3,
.digit-4 {
  position: relative;
  top: -18px;
}

.offset {
  position: relative;
  right: -7.5em;
}

.num {
  font-family: "Anton", sans-serif;
}
.svg-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.zhir-svg {
  width: 200px;
  height: 200px;
  position: relative;
}

/* Animated shine overlay - add after your svg rule */
.svg-header {
  position: relative;
}
