@import 'tailwindcss';
.text-parallax-section {
  width: 100%;
  height: 100svh;
  position: relative;
  background: #161616;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
}

.text-parallax-section p {
@apply absolute bottom-10 left-10 text-xl text-[#faeeda];
}

.text-parallax-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100dvw;
  height: 100svh;
}

.text-parallax {
  position: absolute;
  pointer-events: none;
  font-size: 4rem;
  -webkit-text-stroke: 1.6px var(--color-yellow-50);
  font-weight: 500;
  text-transform: uppercase;
  color: #161616;
}

.text-parallax span {
  color: white;
}
